@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo&display=swap");
body {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: conic-gradient(from 90deg at 1px 1px, rgba(0, 0, 0, 0) 25%, gainsboro 0%) -0.5px -0.5px/1em 1em, linear-gradient(45deg, rgba(0, 0, 0, 0) calc(50% + -1 * 0.5px), gainsboro 0 calc(50% + 0.5px), rgba(0, 0, 0, 0) 0) 0 0/2em 2em, linear-gradient(-45deg, rgba(0, 0, 0, 0) calc(50% + -1 * 0.5px), gainsboro 0 calc(50% + 0.5px), rgba(0, 0, 0, 0) 0) 0 0/2em 2em;
}

.container {
  flex: 1;
  margin-top: 5rem;
}
.container .avatar-flex-container {
  text-align: center;
}
.container .avatar-flex-container img {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}
.container .avatar-flex-container .name {
  margin-top: 2rem;
  font-size: 30px;
}
.container .link-container .container {
  position: relative;
}
.container .link-container .container h2 {
  display: inline-block;
  position: relative;
  font-family: "Heebo", sans-serif;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}
.container .link-container .container h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 4px;
  background-color: #000000;
  transform: translateX(-50%);
  border-radius: 2px;
}
.container .link-container .container .cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container .link-container .container .cards .card-container-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  min-width: 50%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  gap: 20px;
  min-height: 300px;
}
@media (max-width: 768px) {
  .container .link-container .container .cards .card-container-1 {
    flex-direction: column;
    min-height: auto;
  }
}
.container .link-container .container .cards .card-container-1 .card-image {
  width: 100%;
  height: auto;
  min-width: 20rem;
  align-items: center;
  border-radius: 15px;
  object-fit: cover;
  flex: 1;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .container .link-container .container .cards .card-container-1 .card-image {
    height: 150px;
  }
}
.container .link-container .container .cards .card-container-1 .card-content {
  flex: 1;
  min-height: 100%;
  justify-content: space-between;
  word-wrap: break-word;
}
.container .link-container .container .cards .card-container-1 .card-content .card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4D4D4D;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container .link-container .container .cards .card-container-1 .card-content .card-features {
  display: flex;
  max-width: 30rem;
  flex-wrap: wrap;
  font-size: 0.7rem;
  gap: 10px;
  letter-spacing: 0.3rem;
}
.container .link-container .container .cards .card-container-1 .card-content .card-features span {
  background: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  border-radius: 50px;
  border: 1px solid black;
  font-weight: bold;
  backdrop-filter: blur(5px);
  color: black;
}
.container .link-container .container .cards .card-container-1 .card-content .card-description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
  color: #4D4D4D;
  opacity: 0.8;
  flex-grow: 1;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5rem;
}
@media (max-width: 768px) {
  .container .link-container .container .cards .card-container-1 .card-content .card-description {
    max-height: none;
  }
}
.container .link-container .container .cards .card-container-1 .card-content .button {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.container .link-container .container .cards .card-container-1 .card-content .button .bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
}
.container .link-container .container .cards .card-container-1 .card-content .button .bn5:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  border-radius: px;
}
.container .link-container .container .cards .card-container-1 .card-content .button .bn5:hover:before {
  opacity: 1;
}
.container .link-container .container .cards .card-container-1 .card-content .button .bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.container .link-container .container .cards .card-container-1 .card-content .button .bn5:active {
  color: #000;
}
.container .link-container .container .cards .card-container-1 .card-content .button .bn5:active:after {
  background: transparent;
}
@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

header {
  color: black;
  text-align: center;
  padding: 20px;
}

nav ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
  padding-top: 1cm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav li {
  flex: 1;
  padding: 10px;
  margin: 10px;
}
nav a {
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 15px;
}
nav a:hover {
  background-color: #333;
  color: white;
}

@media (max-width: 640px) {
  nav ul {
    align-items: center;
    flex-direction: column;
  }
  nav li {
    flex: none;
    padding: 10px;
    margin: 10px;
  }
}
a {
  color: maroon;
}

.description-container p {
  font-family: "Bebas Neue", sans-serif, "Heebo", sans-serif;
  padding: 20px;
  text-align: justify;
}

.container-box {
  padding: 10px;
  text-align: center;
}

.photo-cards {
  display: flex;
  gap: 20px;
}

.photo-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: center;
  flex: 1;
}

.photo-info {
  padding: 20px;
}

h2 {
  font-size: 24px;
  margin: 0;
}

#photo-card {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
