* {
  user-select: none;
  font-weight: bold;
}

nav {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}
nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav .nav-container .links a {
  text-decoration: none;
  color: rgba(51, 51, 51, 0.7098039216);
  margin-right: 15px;
  transition: color 0.3s ease;
}
nav .nav-container .links a:hover {
  color: #007bff;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.hero-section .hero-container {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 900px) {
  .hero-section .hero-container {
    flex-direction: column-reverse;
  }
}
.hero-section .hero-container .hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 9rem;
  width: 50%;
}
@media (max-width: 1090px) {
  .hero-section .hero-container .hero-text {
    padding-left: 4rem;
  }
}
.hero-section .hero-container .hero-text .hero-name {
  font-size: 3rem;
  font-weight: bold;
  width: max-content;
}
.hero-section .hero-container .hero-text .sub-text {
  font-size: 1.5rem;
  color: #555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.hero-section .hero-container .hero-text .button-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* From Uiverse.io by cssbuttons-io */
}
.hero-section .hero-container .hero-text .button-group .btn {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: auto;
  white-space: nowrap;
}
.hero-section .hero-container .hero-text .button-group .connect-btn {
  background-color: #1b1b1b;
  height: 3rem;
  color: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.hero-section .hero-container .hero-text .button-group .connect-btn:hover {
  background-color: #ffffff;
  color: #000000;
  transform: scale(1.05);
  transition: 0.3s ease;
}
.hero-section .hero-container .hero-text .button-group .connect-btn:hover .fa-discord {
  color: #738ADB;
}
.hero-section .hero-container .hero-text .button-group button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.hero-section .hero-container .hero-text .button-group button.learn-more {
  width: 12rem;
  height: auto;
}
.hero-section .hero-container .hero-text .button-group button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1b1b1b;
  border-radius: 1.625rem;
}
.hero-section .hero-container .hero-text .button-group button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.hero-section .hero-container .hero-text .button-group button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.hero-section .hero-container .hero-text .button-group button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.hero-section .hero-container .hero-text .button-group button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -3px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.hero-section .hero-container .hero-text .button-group button:hover .circle {
  width: 100%;
}
.hero-section .hero-container .hero-text .button-group button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.hero-section .hero-container .hero-text .button-group button:hover .button-text {
  color: #fff;
}
@media (max-width: 900px) {
  .hero-section .hero-container .hero-text {
    padding-left: 0;
    align-items: center;
  }
  .hero-section .hero-container .sub-text {
    text-align: center;
  }
}
.hero-section .hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 900px) {
  .hero-section .hero-image {
    width: 50%;
    border-radius: 15rem;
  }
}
.hero-section .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
@media (min-width: 768px) {
  .hero-section .hero-image img {
    transform: scale(1.1);
  }
}
@media (min-width: 1024px) {
  .hero-section .hero-image img {
    transform: scale(1.2);
  }
}

.skill-section {
  padding: 2rem 0;
  background-color: #f4f4f4;
}
.skill-section .skill-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
.skill-section .skill-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.skill-section .skills {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
}
@media (max-width: 900px) {
  .skill-section .skills {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.skill-section .skills .skill-icon {
  text-align: center;
  width: 200px;
  height: 200px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease;
}
.skill-section .skills .skill-icon i {
  font-size: 4rem;
  color: #1b1b1b;
}
.skill-section .skills .skill-icon p {
  font-size: 1rem;
  margin-top: 10px;
  color: #555;
}
.skill-section .skills .skill-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
